@page
@model RentCar.Pages.Admin.AddCarModel
@{
	ViewData["Title"] = "Adding car";
}

<div >
	<form method="post" enctype="multipart/form-data">
		<ul class="add-car-menu">
			<li>
				<h2 class="add-car-h2">This is add car menu.</h2>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Brand" value="@Model.newCar.Brand" name="brand" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Model" value="@Model.newCar.Model" name="model" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Body type" value="@Model.newCar.CarBody" name="carBody" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Year of production" value="@Model.newCar.YearOfProd" name="yearOfProd" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Drive type" value="@Model.newCar.DriveType" name="driveType" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Country of production" value="@Model.newCar.CountryOfProd" name="countryOfProd" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Type of engine" value="@Model.newCar.TypeOfEngine" name="typeOfEngine" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Engine size (capacity)" value="@Model.newCar.EngineV" name="engineV"  />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Gearbox type" value="@Model.newCar.TypeOfGearbox" name="typeOfGearbox" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Milleage" value="@Model.newCar.Milleage" name="milleage" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Day price" value="@Model.newCar.DayPrice" name="dayPrice" />
				</div>
			</li>
			<li>
				<div class="name-car-params">
					<input class="car-params" placeholder="Week price" value="@Model.newCar.WeekPrice" name="weekPrice" />
				</div>
				<br />
			</li>
			<li>
				<div>
					<input class="input-img" type="file" name="img" value="@Model.newCar.ImgPath" />
					<p>Recommended .png images. Only 2:1 aspect ratio</p>
				</div>
			</li>
			<li>
				<br />
				<button class="floating-button" type="submit" name="CreateStart" value="True">Add car</button>
				<button class="floating-button" type="submit" name="CreateStart" value="False">Cancel</button><br /><br />
			</li>
		</ul>
	</form>
</div>